@import "src/assets/styles/colors";

:host {
  .results-container {
    position: relative;

    .back-button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 15px;
      top: 5px;
      cursor: pointer;
      outline: none;

      svg {
        width: 22px;

        path {
          fill: $bg-color;
        }
      }
    }

    .added-airplanes {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .airplane {
        padding: 10px;
        border: 1px solid white;
        border-right: none;
        color: white;
        cursor: pointer;

        &:last-child {
          border-right: 1px solid white;
        }

        &.active, &:hover {
          background: white;
          color: $bg-color;
        }
      }
    }

    .header-text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 18px;
    }

    .toggles {
      margin-top: 20px;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .charts {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 500px 500px;
      justify-content: center;
      align-items: center;

      > div {
        width: 500px;
      }
    }

    .content {
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .column, .row {
        &.yellow {
          background: #c6c639;
        }

        &.green {
          background: mediumseagreen;
        }

        &.milk {
          background: #7072f8;
        }

        &.light {
          background: #e7c65e;
        }

        &.dark {
          background: #53c5e3;
        }
      }

      .grid-container.header {
        display: grid;
        grid-template-columns: 120px repeat(6, 85px) 500px;

        .grid-item {
          border: 1px dashed white;
          display: grid;
          grid-template-rows: repeat(5, 1fr);
          align-items: center;
          font-size: 11px;
          border-right: none;

          &:last-child {
            border-right: 1px dashed white;
          }

          .row, .column {
            height: 100%;
            align-items: center;
            display: grid;
          }

          &.a {
            .row.a {
              grid-row: 1 / 6 !important;
            }
          }

          &.a, &.b, &.c, &.d, &.e, &.f, &.g {
            text-align: center;

            .row.a {
              grid-row: 1 / 5;
            }

            .row.b {
              border-top: 1px dashed white;
            }
          }

          &.e, &.f {
            .row.b {
              display: grid;
              grid-template-columns: 1fr 1fr;

              .column.b {
                border-left: 1px dashed white;
              }
            }
          }

          &.h {
            .row {
              text-align: center;
              border-bottom: 1px dashed white;

              .column {
                border-right: 1px dashed white;

                &:last-child {
                  border-right: none;
                }
              }

              &.a {

              }

              &.b {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
              }

              &.c, &.d, &.e {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
              }

              &.d {
                .column {
                  //padding: 0 5px;
                }
              }

              &.e {
                border-bottom: none;
              }
            }
          }
        }
      }

      .body {
        .airplane-data {

          .header {
            width: 1130px;
            text-align: center;
            border: 1px dashed white;
            padding: 5px 0;
            border-top: none;
          }

          .info {
            font-size: 12px;
            display: grid;
            grid-template-columns: 120px repeat(3, 85px) repeat(4, 42.5px) 85px repeat(8, calc(500px / 8));
            text-align: center;

            .column {
              border: 1px dashed white;
              border-top: none;
              border-left: none;
              padding: 5px 0;

              &:first-child {
                border-left: 1px dashed white;
              }
            }
          }
        }
      }
    }
  }
}
