@font-face {
  font-family: 'Nunito';
  src: url('src/assets/fonts/nunito-font/nunito-light-webfont.woff2') format('woff2'),
  url('src/assets/fonts/nunito-font/nunito-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
